.ligero-container {
  position: absolute;
  top: 20%;
  left: 40%;
  right: 40%; 
}

.ligero-text-reg {
  justify-content: center;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  height: 150px;
}

h3.ligero-text-tittle {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 24px;
}

p.ligero-text-tittle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
}


.ligero-contn{
  margin-top: 20%
}


.ligero-btn-con{
  position: absolute;
  top: 50%;
  left: 5%;
  width: 45%;
}

.ligero-btn-reg {
  background-color: #cd272b;
  border: 7px solid #cd272b;
  border-radius: 5px;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  width: 90%;
  position: relative;
  margin-left: 5%;
}

.ligero-btn-con-emp{
  position: absolute;
  top: 50%;
  right: 5%;
  width: 45%;
}

.ligero-btn-reg-emp {
  background-color: #cd272b;
  border: 7px solid #cd272b;
  border-radius: 5px;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  width: 90%;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}
